*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

h3{
    margin-bottom: 0;
}
h3+p{
    margin-top: 0;
}

ul{
    margin: 0;
}

.exo{
    box-shadow: 1px 3px 10px 1px #0000006e;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.enonce{
    color: green;
    font-style: italic;
}

.note{
    text-decoration: underline;
}

.error{
    color: red;
}

.reponse{
    border: 2px solid #0062ff48;
    border-radius: 5px;
    padding: 0 1rem;
    min-height: 3rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#reponse2{
    flex-direction: column;
    align-items: flex-start;
}